<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Schedule</h1>

    <% @events.each do |event| %>
      <h2><%= event.concert_date %></h2>
  		<h3><%= event.artist %> at <%= event.venue %>, <%= event.location %></h3>
  		<p><%= event.description %></p>
      <hr>
    <% end %>

  </body>
</html>